In [87]:
# disregard unnecessary warnings
import warnings
warnings.filterwarnings("ignore")

Import libraries

In [88]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [89]:
df = pd.read_csv('https://raw.githubusercontent.com/csbuan/DataScienceProjects/main/bootcamp/DBZ%20Co_Dataset.csv')
df.head(3)

,SKU no.,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Net Sales,COGS,Profit,Date
0,TVG-3-V,None,1618.50,$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",01/01/2020
1,TVG-7-V,None,1321.00,$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",01/01/2020
2,TMM-6-V,None,2178.00,$3.00,$15.00,"$32,670.00",$-,"$32,670.00","$21,780.00","$10,890.00",06/01/2020

In [90]:
df.shape

(700, 11)

In [91]:
df.columns

Index([' SKU no. ', ' Discount Band ', 'Units Sold', ' Manufacturing Price ',
       ' Sale Price ', ' Gross Sales ', ' Discounts ', '  Net Sales ',
       ' COGS ', ' Profit ', 'Date'],
      dtype='object')

In [92]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0    SKU no.               700 non-null    object
 1    Discount Band         700 non-null    object
 2   Units Sold             700 non-null    float64
 3    Manufacturing Price   700 non-null    object
 4    Sale Price            700 non-null    object
 5    Gross Sales           700 non-null    object
 6    Discounts             700 non-null    object
 7     Net Sales            700 non-null    object
 8    COGS                  700 non-null    object
 9    Profit                700 non-null    object
 10  Date                   700 non-null    object
dtypes: float64(1), object(10)
memory usage: 60.3+ KB

In [93]:
df.isnull().sum()

 SKU no.                 0
 Discount Band           0
Units Sold               0
 Manufacturing Price     0
 Sale Price              0
 Gross Sales             0
 Discounts               0
  Net Sales              0
 COGS                    0
 Profit                  0
Date                     0
dtype: int64

In [94]:
df.notna().sum()

 SKU no.                 700
 Discount Band           700
Units Sold               700
 Manufacturing Price     700
 Sale Price              700
 Gross Sales             700
 Discounts               700
  Net Sales              700
 COGS                    700
 Profit                  700
Date                     700
dtype: int64

In [95]:
df.duplicated().sum()

0

In [96]:
df.describe()

       Units Sold
count      700.00
mean      1608.29
std        867.43
min        200.00
25%        905.00
50%       1542.50
75%       2229.12
max       4492.50

In [97]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0    SKU no.               700 non-null    object
 1    Discount Band         700 non-null    object
 2   Units Sold             700 non-null    float64
 3    Manufacturing Price   700 non-null    object
 4    Sale Price            700 non-null    object
 5    Gross Sales           700 non-null    object
 6    Discounts             700 non-null    object
 7     Net Sales            700 non-null    object
 8    COGS                  700 non-null    object
 9    Profit                700 non-null    object
 10  Date                   700 non-null    object
dtypes: float64(1), object(10)
memory usage: 60.3+ KB

In [98]:
df.head(2)

,SKU no.,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Net Sales,COGS,Profit,Date
0,TVG-3-V,None,1618.50,$3.00,$20.00,"$32,370.00",$-,"$32,370.00","$16,185.00","$16,185.00",01/01/2020
1,TVG-7-V,None,1321.00,$3.00,$20.00,"$26,420.00",$-,"$26,420.00","$13,210.00","$13,210.00",01/01/2020

Conversion of Data Types

In [99]:
# Convert 'Date' column to datetime format to extract the month from the date
from datetime import datetime, timedelta
df['revised_date'] = pd.to_datetime(df['Date'])

# Replace the original 'date' column with the 'revised_date' column
df['Date'] = df['revised_date']

df = df.drop(columns=['revised_date'])

In [100]:
# List of columns to convert
columns_to_convert = [' Manufacturing Price ', ' Sale Price ', ' Gross Sales ', ' Discounts ', '  Net Sales ',
       ' COGS ', ' Profit ']

# Replace non-numeric values (e.g., '$-', ' -   ') with NaN
df[columns_to_convert] = df[columns_to_convert].replace('[\$,]', '', regex=True).replace('', np.nan)

# Convert to float and set decimal places to 2 for each column
for col in columns_to_convert:
    df[col] = pd.to_numeric(df[col], errors='coerce').round(2)

df

,SKU no.,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Net Sales,COGS,Profit,Date
0,TVG-3-V,None,1618.50,3.00,20.00,32370.00,NaN,32370.00,16185.00,16185.00,2020-01-01
1,TVG-7-V,None,1321.00,3.00,20.00,26420.00,NaN,26420.00,13210.00,13210.00,2020-01-01
2,TMM-6-V,None,2178.00,3.00,15.00,32670.00,NaN,32670.00,21780.00,10890.00,2020-06-01
3,TMM-7-V,None,888.00,3.00,15.00,13320.00,NaN,13320.00,8880.00,4440.00,2020-06-01
4,TMM-13-V,None,2470.00,3.00,15.00,37050.00,NaN,37050.00,24700.00,12350.00,2020-06-01
...,...,...,...,...,...,...,...,...,...,...,...
695,SBS-6-C,High,2475.00,260.00,300.00,742500.00,111375.00,631125.00,618750.00,12375.00,2020-03-01
696,SBS-13-C,High,546.00,260.00,300.00,163800.00,24570.00,139230.00,136500.00,2730.00,2020-10-01
697,TVG-13-O,High,1368.00,5.00,7.00,9576.00,1436.40,8139.60,6840.00,1299.60,2020-02-01
698,TVG-3-R,High,723.00,10.00,7.00,5061.00,759.15,4301.85,3615.00,686.85,2020-04-01
699,PHC-21-E,High,1806.00,250.00,12.00,21672.00,3250.80,18421.20,5418.00,13003.20,2020-05-01

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0    SKU no.               700 non-null    object
 1    Discount Band         700 non-null    object
 2   Units Sold             700 non-null    float64
 3    Manufacturing Price   700 non-null    float64
 4    Sale Price            700 non-null    float64
 5    Gross Sales           700 non-null    float64
 6    Discounts             647 non-null    float64
 7     Net Sales            700 non-null    float64
 8    COGS                  700 non-null    float64
 9    Profit                637 non-null    float64
 10  Date                   700 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(8), object(2)
memory usage: 60.3+ KB

In [102]:
# df_num = df.drop([' SKU no. ', ' Discount Band ', 'Date'], axis=1)
# # Heatmap
# # Assuming df_num is your DataFrame
# heatmap_data = df_num.corr()

# # Set the size of the heatmap
# fig, ax = plt.subplots(figsize=(16, 8))

# # Plot the heatmap
# plot = sns.heatmap(heatmap_data, annot=True, ax=ax)

# # Show the plot
# plot.set_title("Facebook Metrics")
# plt.show()

Feature Engineering

Gross Profit Margin

In [103]:
# df = df.assign(Profit_Margin=lambda x: (x[' Profit '] / x[' Gross Sales '] * 100).round(2))
df['Gross Profit Margin'] = (df[' Profit '] / df[' Gross Sales '] * 100).round(2)
df

,SKU no.,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Net Sales,COGS,Profit,Date,Gross Profit Margin
0,TVG-3-V,None,1618.50,3.00,20.00,32370.00,NaN,32370.00,16185.00,16185.00,2020-01-01,50.00
1,TVG-7-V,None,1321.00,3.00,20.00,26420.00,NaN,26420.00,13210.00,13210.00,2020-01-01,50.00
2,TMM-6-V,None,2178.00,3.00,15.00,32670.00,NaN,32670.00,21780.00,10890.00,2020-06-01,33.33
3,TMM-7-V,None,888.00,3.00,15.00,13320.00,NaN,13320.00,8880.00,4440.00,2020-06-01,33.33
4,TMM-13-V,None,2470.00,3.00,15.00,37050.00,NaN,37050.00,24700.00,12350.00,2020-06-01,33.33
...,...,...,...,...,...,...,...,...,...,...,...,...
695,SBS-6-C,High,2475.00,260.00,300.00,742500.00,111375.00,631125.00,618750.00,12375.00,2020-03-01,1.67
696,SBS-13-C,High,546.00,260.00,300.00,163800.00,24570.00,139230.00,136500.00,2730.00,2020-10-01,1.67
697,TVG-13-O,High,1368.00,5.00,7.00,9576.00,1436.40,8139.60,6840.00,1299.60,2020-02-01,13.57
698,TVG-3-R,High,723.00,10.00,7.00,5061.00,759.15,4301.85,3615.00,686.85,2020-04-01,13.57
699,PHC-21-E,High,1806.00,250.00,12.00,21672.00,3250.80,18421.20,5418.00,13003.20,2020-05-01,60.00

In [104]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0    SKU no.               700 non-null    object
 1    Discount Band         700 non-null    object
 2   Units Sold             700 non-null    float64
 3    Manufacturing Price   700 non-null    float64
 4    Sale Price            700 non-null    float64
 5    Gross Sales           700 non-null    float64
 6    Discounts             647 non-null    float64
 7     Net Sales            700 non-null    float64
 8    COGS                  700 non-null    float64
 9    Profit                637 non-null    float64
 10  Date                   700 non-null    datetime64[ns]
 11  Gross Profit Margin    637 non-null    float64
dtypes: datetime64[ns](1), float64(9), object(2)
memory usage: 65.8+ KB

In [105]:
df.head(3)

,SKU no.,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Net Sales,COGS,Profit,Date,Gross Profit Margin
0,TVG-3-V,None,1618.50,3.00,20.00,32370.00,NaN,32370.00,16185.00,16185.00,2020-01-01,50.00
1,TVG-7-V,None,1321.00,3.00,20.00,26420.00,NaN,26420.00,13210.00,13210.00,2020-01-01,50.00
2,TMM-6-V,None,2178.00,3.00,15.00,32670.00,NaN,32670.00,21780.00,10890.00,2020-06-01,33.33

Net Profit Margin

In [106]:
# df = df.assign(Profit_Margin=lambda x: (x[' Profit '] / x[' Gross Sales '] * 100).round(2))
df['Net Profit Margin'] = (df[' Profit '] / df['  Net Sales '] * 100).round(2)
df

,SKU no.,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Net Sales,COGS,Profit,Date,Gross Profit Margin,Net Profit Margin
0,TVG-3-V,None,1618.50,3.00,20.00,32370.00,NaN,32370.00,16185.00,16185.00,2020-01-01,50.00,50.00
1,TVG-7-V,None,1321.00,3.00,20.00,26420.00,NaN,26420.00,13210.00,13210.00,2020-01-01,50.00,50.00
2,TMM-6-V,None,2178.00,3.00,15.00,32670.00,NaN,32670.00,21780.00,10890.00,2020-06-01,33.33,33.33
3,TMM-7-V,None,888.00,3.00,15.00,13320.00,NaN,13320.00,8880.00,4440.00,2020-06-01,33.33,33.33
4,TMM-13-V,None,2470.00,3.00,15.00,37050.00,NaN,37050.00,24700.00,12350.00,2020-06-01,33.33,33.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,SBS-6-C,High,2475.00,260.00,300.00,742500.00,111375.00,631125.00,618750.00,12375.00,2020-03-01,1.67,1.96
696,SBS-13-C,High,546.00,260.00,300.00,163800.00,24570.00,139230.00,136500.00,2730.00,2020-10-01,1.67,1.96
697,TVG-13-O,High,1368.00,5.00,7.00,9576.00,1436.40,8139.60,6840.00,1299.60,2020-02-01,13.57,15.97
698,TVG-3-R,High,723.00,10.00,7.00,5061.00,759.15,4301.85,3615.00,686.85,2020-04-01,13.57,15.97
699,PHC-21-E,High,1806.00,250.00,12.00,21672.00,3250.80,18421.20,5418.00,13003.20,2020-05-01,60.00,70.59

Segment

In [107]:
# Specify the certain text
segmentcode1 = 'PHC'
segmentcode2 = 'PTE'
segmentcode3 = 'TVG'
segmentcode4 = 'TMM'
segmentcode5 = 'SBS'

# Create a new column if the first three letters match the segment codes
df['Segment'] = np.where(df[' SKU no. '].str[:3] == segmentcode1, 'Channel Partners', '')

In [108]:
# Update the existing column with the right text
df.loc[df[' SKU no. '].str[:3] == segmentcode2, 'Segment'] = 'Enterprise'
df.loc[df[' SKU no. '].str[:3] == segmentcode3, 'Segment'] = 'Government'
df.loc[df[' SKU no. '].str[:3] == segmentcode4, 'Segment'] = 'Midmarket'
df.loc[df[' SKU no. '].str[:3] == segmentcode5, 'Segment'] = 'Small Business'
df

,SKU no.,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Net Sales,COGS,Profit,Date,Gross Profit Margin,Net Profit Margin,Segment
0,TVG-3-V,None,1618.50,3.00,20.00,32370.00,NaN,32370.00,16185.00,16185.00,2020-01-01,50.00,50.00,Government
1,TVG-7-V,None,1321.00,3.00,20.00,26420.00,NaN,26420.00,13210.00,13210.00,2020-01-01,50.00,50.00,Government
2,TMM-6-V,None,2178.00,3.00,15.00,32670.00,NaN,32670.00,21780.00,10890.00,2020-06-01,33.33,33.33,Midmarket
3,TMM-7-V,None,888.00,3.00,15.00,13320.00,NaN,13320.00,8880.00,4440.00,2020-06-01,33.33,33.33,Midmarket
4,TMM-13-V,None,2470.00,3.00,15.00,37050.00,NaN,37050.00,24700.00,12350.00,2020-06-01,33.33,33.33,Midmarket
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,SBS-6-C,High,2475.00,260.00,300.00,742500.00,111375.00,631125.00,618750.00,12375.00,2020-03-01,1.67,1.96,Small Business
696,SBS-13-C,High,546.00,260.00,300.00,163800.00,24570.00,139230.00,136500.00,2730.00,2020-10-01,1.67,1.96,Small Business
697,TVG-13-O,High,1368.00,5.00,7.00,9576.00,1436.40,8139.60,6840.00,1299.60,2020-02-01,13.57,15.97,Government
698,TVG-3-R,High,723.00,10.00,7.00,5061.00,759.15,4301.85,3615.00,686.85,2020-04-01,13.57,15.97,Government
699,PHC-21-E,High,1806.00,250.00,12.00,21672.00,3250.80,18421.20,5418.00,13003.20,2020-05-01,60.00,70.59,Channel Partners

In [109]:
df['Segment'].value_counts()

Segment
Government          300
Midmarket           100
Channel Partners    100
Enterprise          100
Small Business      100
Name: count, dtype: int64

Country

In [110]:
# Specify the certain text
countrycode1 = 3
countrycode2 = 6
countrycode3 = 7
countrycode4 = 13
countrycode5 = 21

# Extract the number after the first three letters using regular expression
df['Extracted Number'] = df[' SKU no. '].str.extract(r'[^a-zA-Z](\d+)')

# Create a new column and input 'Yes' if the extracted number matches the target number
df['Country'] = np.where(df['Extracted Number'].astype(float) == countrycode1, 'Canada', '')
df

,SKU no.,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Net Sales,COGS,Profit,Date,Gross Profit Margin,Net Profit Margin,Segment,Extracted Number,Country
0,TVG-3-V,None,1618.50,3.00,20.00,32370.00,NaN,32370.00,16185.00,16185.00,2020-01-01,50.00,50.00,Government,3,Canada
1,TVG-7-V,None,1321.00,3.00,20.00,26420.00,NaN,26420.00,13210.00,13210.00,2020-01-01,50.00,50.00,Government,7,
2,TMM-6-V,None,2178.00,3.00,15.00,32670.00,NaN,32670.00,21780.00,10890.00,2020-06-01,33.33,33.33,Midmarket,6,
3,TMM-7-V,None,888.00,3.00,15.00,13320.00,NaN,13320.00,8880.00,4440.00,2020-06-01,33.33,33.33,Midmarket,7,
4,TMM-13-V,None,2470.00,3.00,15.00,37050.00,NaN,37050.00,24700.00,12350.00,2020-06-01,33.33,33.33,Midmarket,13,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,SBS-6-C,High,2475.00,260.00,300.00,742500.00,111375.00,631125.00,618750.00,12375.00,2020-03-01,1.67,1.96,Small Business,6,
696,SBS-13-C,High,546.00,260.00,300.00,163800.00,24570.00,139230.00,136500.00,2730.00,2020-10-01,1.67,1.96,Small Business,13,
697,TVG-13-O,High,1368.00,5.00,7.00,9576.00,1436.40,8139.60,6840.00,1299.60,2020-02-01,13.57,15.97,Government,13,
698,TVG-3-R,High,723.00,10.00,7.00,5061.00,759.15,4301.85,3615.00,686.85,2020-04-01,13.57,15.97,Government,3,Canada
699,PHC-21-E,High,1806.00,250.00,12.00,21672.00,3250.80,18421.20,5418.00,13003.20,2020-05-01,60.00,70.59,Channel Partners,21,

In [111]:
# Update the existing column with the right text
df.loc[df['Extracted Number'].astype(float) == countrycode2, 'Country'] = 'France'
df.loc[df['Extracted Number'].astype(float) == countrycode3, 'Country'] = 'Germany'
df.loc[df['Extracted Number'].astype(float) == countrycode4, 'Country'] = 'Mexico'
df.loc[df['Extracted Number'].astype(float) == countrycode5, 'Country'] = 'United States of America'

df.head(3)

,SKU no.,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Net Sales,COGS,Profit,Date,Gross Profit Margin,Net Profit Margin,Segment,Extracted Number,Country
0,TVG-3-V,None,1618.50,3.00,20.00,32370.00,NaN,32370.00,16185.00,16185.00,2020-01-01,50.00,50.00,Government,3,Canada
1,TVG-7-V,None,1321.00,3.00,20.00,26420.00,NaN,26420.00,13210.00,13210.00,2020-01-01,50.00,50.00,Government,7,Germany
2,TMM-6-V,None,2178.00,3.00,15.00,32670.00,NaN,32670.00,21780.00,10890.00,2020-06-01,33.33,33.33,Midmarket,6,France

In [112]:
df['Country'].value_counts()

Country
Canada                      140
Germany                     140
France                      140
Mexico                      140
United States of America    140
Name: count, dtype: int64

Product Code

In [113]:
# Specify the certain text
productcode1 = 'B'
productcode2 = 'C'
productcode3 = 'E'
productcode4 = 'O'
productcode5 = 'R'
productcode6 = 'V'

# Extract the last letter from the string
df['Last Letter'] = df[' SKU no. '].str[-1]

# Create a new column and input 'Yes' if the extracted number matches the target number
df['Product'] = np.where(df['Last Letter'] == productcode1, 'Basket Ballz', '')
df.head(3)

,SKU no.,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Net Sales,COGS,Profit,Date,Gross Profit Margin,Net Profit Margin,Segment,Extracted Number,Country,Last Letter,Product
0,TVG-3-V,None,1618.50,3.00,20.00,32370.00,NaN,32370.00,16185.00,16185.00,2020-01-01,50.00,50.00,Government,3,Canada,V,
1,TVG-7-V,None,1321.00,3.00,20.00,26420.00,NaN,26420.00,13210.00,13210.00,2020-01-01,50.00,50.00,Government,7,Germany,V,
2,TMM-6-V,None,2178.00,3.00,15.00,32670.00,NaN,32670.00,21780.00,10890.00,2020-06-01,33.33,33.33,Midmarket,6,France,V,

In [114]:
# Update the existing column with the right text
df.loc[df['Last Letter'] == productcode2, 'Product'] = 'Cotton Ballz'
df.loc[df['Last Letter'] == productcode3, 'Product'] = 'Meat Ballz'
df.loc[df['Last Letter'] == productcode4, 'Product'] = 'Moth Ballz'
df.loc[df['Last Letter'] == productcode5, 'Product'] = 'Rapsa Ballz'
df.loc[df['Last Letter'] == productcode6, 'Product'] = 'Volley Ballz'
df.head(3)

,SKU no.,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Net Sales,COGS,Profit,Date,Gross Profit Margin,Net Profit Margin,Segment,Extracted Number,Country,Last Letter,Product
0,TVG-3-V,None,1618.50,3.00,20.00,32370.00,NaN,32370.00,16185.00,16185.00,2020-01-01,50.00,50.00,Government,3,Canada,V,Volley Ballz
1,TVG-7-V,None,1321.00,3.00,20.00,26420.00,NaN,26420.00,13210.00,13210.00,2020-01-01,50.00,50.00,Government,7,Germany,V,Volley Ballz
2,TMM-6-V,None,2178.00,3.00,15.00,32670.00,NaN,32670.00,21780.00,10890.00,2020-06-01,33.33,33.33,Midmarket,6,France,V,Volley Ballz

In [115]:
df['Product'].value_counts()

Product
Rapsa Ballz     202
Basket Ballz    109
Meat Ballz      109
Cotton Ballz     94
Volley Ballz     93
Moth Ballz       93
Name: count, dtype: int64

In [116]:
df

,SKU no.,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Net Sales,COGS,Profit,Date,Gross Profit Margin,Net Profit Margin,Segment,Extracted Number,Country,Last Letter,Product
0,TVG-3-V,None,1618.50,3.00,20.00,32370.00,NaN,32370.00,16185.00,16185.00,2020-01-01,50.00,50.00,Government,3,Canada,V,Volley Ballz
1,TVG-7-V,None,1321.00,3.00,20.00,26420.00,NaN,26420.00,13210.00,13210.00,2020-01-01,50.00,50.00,Government,7,Germany,V,Volley Ballz
2,TMM-6-V,None,2178.00,3.00,15.00,32670.00,NaN,32670.00,21780.00,10890.00,2020-06-01,33.33,33.33,Midmarket,6,France,V,Volley Ballz
3,TMM-7-V,None,888.00,3.00,15.00,13320.00,NaN,13320.00,8880.00,4440.00,2020-06-01,33.33,33.33,Midmarket,7,Germany,V,Volley Ballz
4,TMM-13-V,None,2470.00,3.00,15.00,37050.00,NaN,37050.00,24700.00,12350.00,2020-06-01,33.33,33.33,Midmarket,13,Mexico,V,Volley Ballz
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
695,SBS-6-C,High,2475.00,260.00,300.00,742500.00,111375.00,631125.00,618750.00,12375.00,2020-03-01,1.67,1.96,Small Business,6,France,C,Cotton Ballz
696,SBS-13-C,High,546.00,260.00,300.00,163800.00,24570.00,139230.00,136500.00,2730.00,2020-10-01,1.67,1.96,Small Business,13,Mexico,C,Cotton Ballz
697,TVG-13-O,High,1368.00,5.00,7.00,9576.00,1436.40,8139.60,6840.00,1299.60,2020-02-01,13.57,15.97,Government,13,Mexico,O,Moth Ballz
698,TVG-3-R,High,723.00,10.00,7.00,5061.00,759.15,4301.85,3615.00,686.85,2020-04-01,13.57,15.97,Government,3,Canada,R,Rapsa Ballz
699,PHC-21-E,High,1806.00,250.00,12.00,21672.00,3250.80,18421.20,5418.00,13003.20,2020-05-01,60.00,70.59,Channel Partners,21,United States of America,E,Meat Ballz

In [117]:
df.to_csv('DBZ Co_Dataset_Revised3.csv', index=False)